<div class='slot'>
  {{#if count}}
    <span class='hours'>{{timespan}}</span>
    <span class='count' onClick={{action setViewingSlot slot}}>{{capacity}}</span>
  {{else}}
    {{#paper-checkbox value=isCommittedTo disabled=disabled onChange=(action 'toggle')}}
      <span class='hours'>{{timespan}}</span>
    {{/paper-checkbox}}
  {{/if}}
</div>
