{{! template-lint-disable no-action no-invalid-interactive }}
<div class='name-container' onclick={{action 'toggleContact'}}>
  {{#if (eq this.property 'driver')}}
    {{paper-icon 'person' size=14 title='driver'}}
  {{else if (eq this.property 'carOwner')}}
    {{paper-icon 'local gas station' size=14 title='car owner'}}
  {{/if}}
  <span class='name'>
    {{this.person.name}}
  </span>
  {{#if this.clear}}
    <span class='remove-container'>
      <button onclick={{action this.clear}} type='button'>
        <PaperIcon @icon='clear' @size={{14}} @title='remove' />
        <span class='md-visually-hidden'>
          Remove
        </span>
      </button>
    </span>
  {{/if}}
</div>
{{#if this.showContact}}
  <div class='contact-container'>
    {{#if this.person.email}}
      <a href='mailto:{{this.person.email}}'>
        {{paper-icon 'email' size=14 title='email address'}}
        <span class='email'>
          {{this.person.email}}
        </span>
      </a>
    {{/if}}
    {{#if this.person.mobile}}
      <a href='tel:{{this.person.mobile}}'>
        {{paper-icon 'smartphone' size=14 title='mobile phone number'}}
        <span class='mobile'>
          {{this.person.mobile}}
        </span>
      </a>
    {{/if}}
    {{#if this.person.landline}}
      <a href='tel:{{this.person.landline}}'>
        {{paper-icon 'phone' size=14 title='landline number'}}
        <span class='landline'>
          {{this.person.landline}}
        </span>
      </a>
    {{/if}}
    {{#if this.person.selfNotes}}
      {{paper-icon 'notes' size=14 title='notes about self'}}
      <span class='self-notes'>
        {{this.person.selfNotes}}
      </span>
    {{/if}}
  </div>
{{/if}}