{{#paper-dialog onClose=cancel fullscreen=true}}

  {{#paper-dialog-content}}
    {{#if editingWarning}}
      {{#paper-card class='editing-warning' as |card|}}
        {{#card.content}}
          {{editingWarning}}
        {{/card.content}}
      {{/paper-card}}
    {{/if}}
    <h2 class='md-title'>{{if ride.isNew 'Record' 'Edit'}} a ride request</h2>
    {{#paper-form onSubmit=save as |form|}}
      <div class='layout-column'>
        {{#form.input class='timespan' label='Timespan' autofocus=true textarea=true value=ride.timespan onChange=(action 'timespanUpdated')}}
          <div class='hint'>“friday from 2 to 4” or “tomorrow 11am to noon”</div>
        {{/form.input}}
      </div>
      <div class='timespan-result'>
        {{#if timespanWarning}}
          <div class='layout-row'>
            {{#paper-card class='flex-100 timespan-warning' as |card|}}
              {{#card.content}}
                {{paper-icon 'warning'}} This request is in the past
              {{/card.content}}
            {{/paper-card}}
          </div>
        {{/if}}
        <div class='layout-row'>
          {{form.input class='flex-100' label='Ride times' value=rideTimes disabled=true onChange=null}}
        </div>
      </div>
      <div class='layout-row layout-xs-column layout-align-center-center'>
        <div class='flex'>
          {{#paper-select
            class='institution'
            placeholder='Institution'
            selected=ride.institution
            searchField='name'
            options=institutions
            onChange=(action (mut ride.institution))
            as |institution|}}
            {{institution.name}}
          {{/paper-select}}
        </div>
        <div class='flex'>
          {{#paper-checkbox
            class='overridable'
            value=ride.overridable
            onChange=(action (mut ride.overridable))}}
            Sunshine House van?
          {{/paper-checkbox}}
        </div>
      </div>
      <div class='layout-row layout-xs-column medium-row'>
        {{#paper-radio-group
          groupValue=(readonly ride.medium)
          onChange=(action (mut ride.medium)) as |group|}}
          <div class='flex' title='ride was requested via txt'>
            {{#group.radio value='txt' class='txt'}}{{paper-icon 'textsms'}}{{/group.radio}}
          </div>
          <div class='flex' title='ride was requested via email'>
            {{#group.radio value='email' class='email'}}{{paper-icon 'email'}}{{/group.radio}}
          </div>
          <div class='flex' title='ride was requested via phone'>
            {{#group.radio value='phone' class='phone'}}{{paper-icon 'phone'}}{{/group.radio}}
          </div>
        {{/paper-radio-group}}
      </div>
      <div class='layout-row layout-xs-column medium-row'>
        <div class='flex'>
          {{#paper-checkbox
            class='request-confirmed'
            value=ride.requestConfirmed
            onChange=(action (mut ride.requestConfirmed))}}
            Confirmed receipt of request with visitor?
          {{/paper-checkbox}}
        </div>
      </div>

      <h3 class='md-title'>Visitor details</h3>

      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{#form.autocomplete
            label='Name'
            selected=ride
            onSelectionChange=(action 'autocompleteSelectionChanged')
            onSearchTextChange=(action (mut ride.name))
            search=(action 'searchRides')
            searchField='name'
            labelPath='name'
            searchText=(readonly ride.name)

            errors=ride.validationErrors.name isTouched=(readonly ride.validationErrors.name.length)
            as |ride autocomplete|}}
            <div class='visitor-autocomplete-option'>
              <span class='name'>
                {{paper-autocomplete-highlight
                  label=ride.name
                  searchText=autocomplete.searchText
                  flags='i'}}
              </span>
              <address>{{ride.address}}</address>
              <span class='contact'>{{ride.contact}}</span>
            </div>
          {{/form.autocomplete}}
        </div>
      </div>
      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{form.input class='address' label='Address' value=ride.address onChange=(action (mut ride.address)) errors=ride.validationErrors.address isTouched=(readonly ride.validationErrors.address.length)}}
        </div>
      </div>
      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{form.input class='contact' label='Contact' value=ride.contact onChange=(action (mut ride.contact)) errors=ride.validationErrors.contact isTouched=(readonly ride.validationErrors.contact.length)}}
        </div>
      </div>
      <div class='layout-row layout-xs-column layout-align-center-center'>
        <div class='flex'>
          {{form.input class='passengers' label='Passengers' value=ride.passengers onChange=(action (mut ride.passengers)) errors=ride.validationErrors.passengers isTouched=(readonly ride.validationErrors.passengers.length)}}
        </div>
        <div class='flex'>
          {{#paper-checkbox
            class='first-time'
            value=ride.firstTime
            onChange=(action (mut ride.firstTime))}}
            First time?
          {{/paper-checkbox}}
        </div>
      </div>
      {{#if ride.firstTime}}
        {{#paper-card class='first-time-points' as |card|}}
          {{#card.content}}
            Some notes for first-time riders:
            <ul>
              <li>the drivers and coordinators are all volunteering</li>
              <li>we don’t screen drivers, but please let us know if you have any concerns</li>
              <li>it’s more likely you’ll get a ride if you request early; you can even do it before you have a visit scheduled</li>
            </ul>
          {{/card.content}}
        {{/paper-card}}
      {{/if}}

      <div class='layout layout-sm-column'>
        {{form.input class='request-notes'
                     textarea=true
                     label='Notes'
                     value=ride.requestNotes
                     onChange=(action (mut ride.requestNotes))}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=cancel}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=save}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
