{{#body.row class=classAttribute as |row|}}
  {{#if showCreation}}
    {{#row.cell class='creation'}}{{creation}}{{/row.cell}}
  {{/if}}
  {{#row.cell class='date-cell' onClick=(action 'toggleCreation')}}
    <span class='date'>{{ride.rideTimes}}</span>
    {{#if showCreation}}
      {{paper-icon 'alarm off' size=14}}
    {{else}}
      {{paper-icon 'add alarm' size=14}}
    {{/if}}
  {{/row.cell}}
  {{#row.cell class='institution'}}{{ride.institution.name}}{{/row.cell}}
  {{#row.cell class='name-and-contact'}}
    <span class='name'>{{ride.namePlusPassengers}}</span>{{#if ride.firstTime}} {{paper-icon 'announcement' size=10 title='first time rider'}}{{/if}}
    <div class='medium-and-contact'>{{#if mediumIcon}}{{paper-icon mediumIcon size=10 title=mediumIconTitle}} {{/if}}<span class='contact'>{{linked-contact contact=ride.contact}}</span></div>
  {{/row.cell}}
  {{#row.cell class='address'}}{{ride.address}}{{/row.cell}}
  {{#row.cell class='driver-and-car-owner'}}
    {{#if combined}}
      {{#if (not rideToCombine)}}
        {{#paper-button class='combine' iconButton=true aria-label='Uncombine this ride' title='Uncombine this ride' onClick=(action uncombineRide ride)}}
          {{paper-icon 'call split'}}
        {{/paper-button}}
      {{/if}}
    {{else}}
      <span class='driver'>{{ride-person ride=ride property='driver' onChange=(action 'setDriver')}}</span>
      <span class='car-owner'>{{ride-person ride=ride property='carOwner' onChange=(action 'setCarOwner')}}</span>
      {{#if (or (not ride.children) rideToCombine)}}
        {{#paper-button class='combine' iconButton=true raised=(eq ride.id rideToCombine.id) aria-label=combineButtonLabel title=combineButtonLabel onClick=(action combineRide ride)}}
          {{paper-icon 'merge type'}}
        {{/paper-button}}
      {{/if}}
    {{/if}}
  {{/row.cell}}
  {{#row.cell}}
    <span class='cancellation'>{{#paper-button iconButton=true aria-label=cancellationButtonLabel title=cancellationButtonLabel onClick=(action editCancellation ride)}}
      {{#if ride.enabled}}
        {{paper-icon 'highlight off'}}
      {{else}}
        {{paper-icon cancellationIcon}}
      {{/if}}
    {{/paper-button}}</span>
    {{#paper-button iconButton=true aria-label='Edit ride' title='Edit ride' class='edit' onClick=(action editRide ride)}}
      {{paper-icon 'mode edit'}}
    {{/paper-button}}
  {{/row.cell}}
{{/body.row}}
{{#if ride.requestNotes}}
  {{#body.row class='{{classAttribute}} notes' as |row|}}
    {{row.cell}}
    {{#row.cell class='notes' colspan=6}}{{ride.requestNotes}}{{/row.cell}}
  {{/body.row}}
{{/if}}
{{#if ride.complete}}
  {{#body.row class='report' as |row|}}
    {{row.cell}}
    {{#row.cell colspan=6}}
      {{paper-icon 'map'}}<span class='distance'>{{ride.distance}}</span>
      {{#if ride.foodExpenses}}{{paper-icon 'local cafe'}}<span class='food-expenses'>{{ride.foodExpensesDollars}}</span>{{/if}}
      {{#if ride.reportNotes}}{{paper-icon 'note'}}<span class='notes'>{{ride.reportNotes}}</span>{{/if}}
      {{#if clearing}}
        Clear this report?
        {{#paper-button class='clear-confirm' warn=true aria-label='Clear report' title='Clear report' onClick=(action 'clearReport')}}
          Yes
        {{/paper-button}}
        {{#paper-button class='clear-cancel' aria-label='Don’t clear report' title='Don’t clear report' onClick=(action (mut clearing) false)}}
          No
        {{/paper-button}}
      {{else}}
        {{#paper-button iconButton=true aria-label='Clear report' title='Clear report' onClick=(action 'proposeClear')}}
          {{paper-icon 'clear'}}
        {{/paper-button}}
      {{/if}}
    {{/row.cell}}
  {{/body.row}}
{{/if}}
