{{#paper-dialog onClose=cancel origin=dialogOrigin}}

  {{#paper-dialog-content}}
    {{#if warning}}{{#paper-toolbar}}{{#paper-toolbar-tools}}{{warning}}{{/paper-toolbar-tools}}{{/paper-toolbar}}{{/if}}
    <h2 class='md-title'>{{if ride.isNew 'Record' 'Edit'}} a ride request</h2>
    {{#paper-form onSubmit=save as |form|}}
      <div class='layout-column'>
        {{#form.input class='timespan' label='Timespan' autofocus=true textarea=true value=ride.timespan onChange=(action 'timespanUpdated') as |textHelper|}}
          <div class="hint">Start and end of visit; “friday from 2 to 4pm” or “jul 23 to 27”</div>
        {{/form.input}}
      </div>
      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{form.input class='start' label='Start' value=ride.start disabled=true onChange=null}}
        </div>
        <div class='flex'>
          {{form.input class='end' label='End' value=ride.end disabled=true onChange=null}}
        </div>
      </div>
      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{#paper-select
            class='institution'
            placeholder="Institution"
            selected=ride.institution
            options=institutions
            onChange=(action (mut ride.institution))
            as |institution|}}
            {{institution.name}}
          {{/paper-select}}
        </div>
      </div>

      <h3 class='md-title'>Visitor details</h3>

      <div class='layout-row layout-xs-column'>
        <div class='flex'>
          {{form.input class='name' label='Name' value=ride.name onChange=(action (mut ride.name)) errors=ride.validationErrors.name isTouched=ride.validationErrors.name.length}}
          {{form.input class='passengers' label='Passengers' value=ride.passengers onChange=(action (mut ride.passengers)) errors=ride.validationErrors.passengers isTouched=ride.validationErrors.passengers.length}}
        </div>
        <div class='flex'>
          {{form.input class='address' label='Address' value=ride.address onChange=(action (mut ride.address)) errors=ride.validationErrors.address isTouched=ride.validationErrors.address.length}}
        </div>
        <div class='flex'>
          {{form.input class='contact' label='Contact' value=ride.contact onChange=(action (mut ride.contact)) errors=ride.validationErrors.contact isTouched=ride.validationErrors.contact.length}}
        </div>
      </div>

      <div class='layout layout-sm-column'>
        {{form.input class='request-notes'
                     textarea=true
                     label='Notes'
                     value=ride.requestNotes
                     onChange=(action (mut ride.requestNotes))}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=cancel}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=save}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
