{{#body.row class=(if ride.enabled 'ride enabled' 'ride') as |row|}}
  {{#row.cell class='date'}}{{ride.rideTimes}}{{/row.cell}}
  {{#row.cell class='institution'}}{{ride.institution.name}}{{/row.cell}}
  {{#row.cell class='name-and-contact'}}
    <div class='name'>{{ride.namePlusPassengers}}</div>
    <div class='contact'>{{ride.contact}}</div>
  {{/row.cell}}
  {{#row.cell class='address'}}{{ride.address}}{{/row.cell}}
  {{#row.cell class='driver-and-car-owner'}}
    {{#if combined}}
      {{#paper-button class='combine' iconButton=true aria-label='Uncombine this ride' title='Uncombine this ride' onClick=(action uncombineRide ride)}}
        {{paper-icon 'merge type'}}
      {{/paper-button}}
    {{else}}
      <span class='driver'>{{#paper-select
        selected=ride.driver
        options=people
        onChange=(action 'setDriver')
        as |person|}}
        {{person.name}}
      {{/paper-select}}</span>
      <span class='car-owner'>{{#paper-select
        selected=ride.carOwner
        options=people
        onChange=(action 'setCarOwner')
        as |person|}}
        {{person.name}}
      {{/paper-select}}</span>
      {{#paper-button class='combine' iconButton=true aria-label='Combine with another ride' title='Combine with another ride' onClick=(action combineRide ride)}}
        {{paper-icon 'merge type'}}
      {{/paper-button}}
    {{/if}}
  {{/row.cell}}
  {{#row.cell}}
    <span class='cancellation'>{{#paper-button iconButton=true aria-label=cancellationButtonLabel title=cancellationButtonLabel onClick=(action editCancellation ride)}}
      {{#if ride.enabled}}
        {{paper-icon 'delete'}}
      {{else}}
        {{paper-icon cancellationIcon}}
      {{/if}}
    {{/paper-button}}</span>
    {{#paper-button iconButton=true aria-label='Edit ride' title='Edit ride' class='edit' onClick=(action editRide ride)}}
      {{paper-icon 'mode edit'}}
    {{/paper-button}}
  {{/row.cell}}
{{/body.row}}
