<PaperToolbar as |toolbar|>
  <toolbar.tools>
    <PaperButton
      @iconButton={{true}}
      @onClick={{action 'toggleSidebar'}}
      @class='hide-gt-sm'
    >
      {{paper-icon 'menu'}}
    </PaperButton>
    {{#if this.session.currentUser.admin}}
      {{#if this.sidebar.notificationCount}}
        <span
          class='count hide-gt-sm'
          title='Check on {{
            pluralize this.sidebar.notificationCount 'notification'
          }}'
        >
          {{this.sidebar.notificationCount}}
        </span>
      {{/if}}
    {{/if}}
    <h2>
      {{this.title}}
    </h2>
    <PaperChips @readOnly={{true}} @content={{this.chips}} as |item|>
      <span title={{item.title}}>
        {{item.label}}
      </span>
    </PaperChips>
    <span class='flex'></span>
    {{yield}}
  </toolbar.tools>
</PaperToolbar>