{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button iconButton=true onClick=(action 'toggleSidebar') class='hide-gt-sm'}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    {{#if sidebar.notificationCount}}
      <span class='count hide-gt-sm' title='Check on {{pluralize sidebar.notificationCount 'notification'}}'>{{sidebar.notificationCount}}</span>
    {{/if}}
    <h2>{{title}}</h2>
    {{#paper-chips readOnly=true content=chips as |item|}}<span title='{{item.title}}'>{{item.label}}</span>{{/paper-chips}}
    <span class='flex'></span>
    {{yield}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
