{{toolbar-header title='Record ride details'}}

<div class='form-container'>
  {{#paper-form onSubmit=(action 'submit') as |form|}}
    <div class='layout layout-sm-column'>
      {{#paper-radio-group
        groupValue=(readonly rideProxy.content)
        onChange=(action 'setRide') as |group|}}
        {{#each (sort-by 'start' model) as |ride|}}
          {{#group.radio value=ride}}
            {{#if ride.driver}}{{ride.driver.initials}}: {{/if}}{{moment-format ride.start 'ddd, MMM D [at] h:mma'}} to {{ride.institution.name}}
          {{/group.radio}}
        {{/each}}
      {{/paper-radio-group}}
    </div>

    <div class='layout-column'>
      {{form.input class='distance'
                   type='number'
                   label='Distance in kilometres'
                   value=rideProxy.distance
                   required=true
                   onChange=(action (mut rideProxy.distance))}}
    </div>
    <div class='layout-column'>
      {{form.input class='food-expenses'
                   type='number'
                   label='Food expenses if wanting reimbursement'
                   value=rideProxy.foodExpensesDollars
                   onChange=(action (mut rideProxy.foodExpensesDollars))}}
    </div>
    <div class='layout-column'>
      {{#form.input class='report-notes'
                   textarea=true
                   label='Notes'
                   value=rideProxy.reportNotes
                   onChange=(action (mut rideProxy.reportNotes)) as |textHelper|}}
        {{#unless textHelper.hasValue}}
          <div class="hint">Anything unusual, like paying the driver for gas instead of car owner.</div>
        {{/unless}}
      {{/form.input}}
    </div>

    <div class="layout-row">
      {{#paper-button class='submit'
                      raised=true primary=true
                      onClick=(action 'submit')
                      disabled=(or (not editingRide) form.isInvalid)}}Save{{/paper-button}}
                      {{! FIXME simplify if/when form yields radio-group?}}
    </div>
  {{/paper-form}}
</div>
