{{toolbar-header title='Record ride details'}}

{{#paper-content class='layout-column'}}
  {{#if this.session.isAuthenticated}}
    {{#paper-card class='no-session' as |card|}}
      {{#card.content}}
        The ability to submit reports while logged in is indefinitely unavailable for annoying technical reasons. Please use another browser or a private/incognito window to submit your reports in the interim. ☹️
      {{/card.content}}
    {{/paper-card}}
  {{else}}
    {{#if this.model}}
      <div class='form-container'>
        {{#paper-form onSubmit=(action 'submit') as |form|}}
          <div class='layout layout-sm-column'>
            {{#paper-radio-group
              groupValue=(readonly this.editingRide)
              onChange=(action 'setRide') as |group|}}
              {{#each (sort-by 'start' this.model) as |ride|}}
                {{#group.radio value=ride}}
                  {{#if ride.initials}}{{ride.initials}}: {{/if}}
                  {{moment-format ride.start 'ddd, MMM D [at] h:mma'}} to {{ride.institution.name}}
                  {{#if ride.rate}}({{ride.rate}}{{reimbursement-unit}}){{/if}}
                {{/group.radio}}
              {{/each}}
            {{/paper-radio-group}}
          </div>

          {{#if this.editingRide}}
            <div class='layout-column'>
              {{form.input class='distance'
                          type='number'
                          label='Distance in kilometres'
                          value=this.editingRide.distance
                          errors=this.editingRide.validationErrors.distance
                          isTouched=(readonly this.editingRide.validationErrors.distance.length)
                          onChange=(action (mut this.editingRide.distance))}}
            </div>
            {{#if this.editingRide.donatable}}
              <div class='layout layout-sm-column'>
                {{#paper-checkbox
                  value=this.editingRide.donation
                  onChange=(action (mut this.editingRide.donation))}}
                  Donate your gas reimbursement
                {{/paper-checkbox}}
              </div>
            {{/if}}
            <div class='layout-column'>
              {{form.input class='food-expenses'
                          type='number'
                          label='Food expenses if wanting reimbursement'
                          value=this.editingRide.foodExpensesDollars
                          onChange=(action (mut this.editingRide.foodExpensesDollars))}}
            </div>
            {{#if this.editingRide.overridable}}
              <div class='layout-column'>
                {{form.input class='car-expenses'
                            type='number'
                            label='Car expenses'
                            value=this.editingRide.carExpensesDollars
                            onChange=(action (mut this.editingRide.carExpensesDollars))}}
              </div>
            {{/if}}
            <div class='layout-column'>
              {{#form.input class='report-notes'
                          textarea=true
                          label='Notes'
                          value=this.editingRide.reportNotes
                          onChange=(action (mut this.editingRide.reportNotes)) as |textHelper|}}
                {{#unless textHelper.hasValue}}
                  <div class='hint'>Anything unusual, like paying the driver for gas instead of car owner.</div>
                {{/unless}}
              {{/form.input}}
            </div>

            <div class='layout-row'>
              {{#paper-button class='submit'
                              raised=true primary=true
                              onClick=(action 'submit')}}
                Save
              {{/paper-button}}
              {{! FIXME simplify if/when form yields radio-group?}}
            </div>
          {{/if}}
        {{/paper-form}}
      </div>
    {{else}}
      {{#paper-card class='no-rides' as |card|}}
        {{#card.content}}
          There are no rides to report on! Thanks for your diligence, drivers. Email us if you expected to see a report here.
        {{/card.content}}
      {{/paper-card}}
    {{/if}}
  {{/if}}
{{/paper-content}}
