<label>Date {{input class='date' value=model.date type='date'}}</label>
<label>Start {{input class='start' value=model.startTime type='time'}}</label>
<label>End {{input class='end' value=model.endTime type='time'}}</label>

{{#paper-select
  class='institution'
  placeholder="Institution"
  selected=model.institution
  options=institutions
  onChange=(action (mut model.institution))
  as |institution|}}
  {{institution.name}}
{{/paper-select}}

{{#paper-select
  class='driver'
  placeholder="Driver"
  selected=model.driver
  options=people
  onChange=(action (mut model.driver))
  as |person|}}
  {{person.name}}
{{/paper-select}}

{{#paper-select
  class='car-owner'
  placeholder="Car owner"
  selected=model.carOwner
  options=people
  onChange=(action (mut model.carOwner))
  as |person|}}
  {{person.name}}
{{/paper-select}}

<label>Name {{input class='name' value=model.name}}</label>

<button class='submit' {{action 'submit' model}}>Submit</button>
