<label>Date {{input class='date' value=model.date type='date'}}</label>
<label>Start {{input class='start' value=model.startTime type='time'}}</label>
<label>End {{input class='end' value=model.endTime type='time'}}</label>

<label>Name {{input class='name' value=model.name}}</label>

<button class='submit' {{action 'submit' model}}>Submit</button>
