<div class='admin-calendar'>
  {{#power-calendar center=month daysComponent='calendar-days' onCenterChange=(action (mut month) value="date") as |calendar|}}
    <nav class="ember-power-calendar-nav">
      {{link-to '‹' 'admin-calendar' previousMonth class='ember-power-calendar-nav-control previous-month' tagName='button'}}
      <div class="ember-power-calendar-nav-title">
        {{moment-format calendar.center 'MMMM YYYY'}}: {{pluralize commitmentCount 'commitment'}}
      </div>
      {{link-to '›' 'admin-calendar' nextMonth class='ember-power-calendar-nav-control next-month' tagName='button'}}
    </nav>

    {{#calendar.days showDaysAround=false as |day|}}
      {{calendar-day day=day slots=slots count=true setViewingSlot=(action (mut viewingSlot))}}
    {{/calendar.days}}
  {{/power-calendar}}

  <section>
    {{#if viewingSlot}}
    <div class='viewing-slot'>
      <h3 class='hours'>{{moment-format viewingSlot.start 'dddd, MMMM D, h:mma'}}–{{moment-format viewingSlot.end 'h:mma'}}</h3>
      {{#paper-chips
        removeItem=(action 'deleteCommitment')
        addItem=(action 'createCommitment')
        placeholder='Commit someone to this slot'
        content=viewingSlot.commitments
        options=uncommittedPeople
        class='commitments'
        searchField='name' as |person_or_commitment|}}
        {{#if person_or_commitment.name}}
          {{person-badge person=person_or_commitment}}
        {{else}}
          {{person-badge person=person_or_commitment.person}}
        {{/if}}
      {{/paper-chips}}
    </div>
    {{/if}}
    {{paper-button class='email' label='Email' raised=true onClick=(action (mut emailOpen true))}}
  </section>
</div>

{{#if emailOpen}}
{{#paper-dialog clickOutsideToClose=true
                fullscreen=true
                onClose=(action 'closeEmail')}}

  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2 class='md-title'>{{moment-format month 'MMMM YYYY'}} calendar emails</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action 'closeEmail')}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-dialog-content}}
    {{#paper-chips
      removeItem=(action 'removePerson')
      addItem=(action 'addPerson')
      placeholder='Add a person to email'
      content=people
      options=remainingPeople
      searchField='name' as |person|}}
      {{person.name}}: {{person.email}}
    {{/paper-chips}}
    {{paper-button class='add-active' label='Add all active people' raised=true onClick=(action 'addAllActive')}}
    {{#paper-input
      placeholder='String to match in addresses'
      value=emailMatch
      class='filter'
      onChange=(action (mut emailMatch)) as |input|}}
      {{#if input.hasValue}}
        {{#paper-button class='add' onClick=(action 'addMatching')}}
          Add emails containing string
        {{/paper-button}}
        {{#paper-button class='remove' onClick=(action 'removeMatching')}}
          Remove emails containing string
        {{/paper-button}}
      {{/if}}
    {{/paper-input}}
    {{#if links}}
      <ul class='links'>
        {{#each-in links as |email link|}}
          <li>
            <span class='email'>{{email}}</span>:
            <a class='link' href={{link}}>link</a>
            <a class='mailto' href='mailto:{{email}}?subject=calendar&body=a link {{link}}'>open an email</a>
          </li>
        {{/each-in}}
      </ul>
    {{/if}}
    {{#if linksError}}
      There was an error loading calendar links: {{linksError}}
    {{/if}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='fetch-links' onClick=(action 'fetchLinks')}}View calendar links{{/paper-button}}
    {{#paper-button class='send' primary=(gt people.length 0) raised=(gt people.length 0) onClick=(action 'email')}}Email {{monthString}} calendar link{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}
