<div class='admin-calendar'>
  {{#power-calendar center=month daysComponent='calendar-days' onCenterChange=(action (mut month) value="date") as |calendar|}}
    <nav class="ember-power-calendar-nav">
      <button type="button" class="ember-power-calendar-nav-control previous-month" onclick={{action calendar.actions.moveCenter -1 'month'}}>‹</button>
      <div class="ember-power-calendar-nav-title">
        {{moment-format calendar.center 'MMMM YYYY'}}
      </div>
      <button class="ember-power-calendar-nav-control next-month" onclick={{action calendar.actions.moveCenter 1 'month'}}>›</button>
    </nav>

    {{#calendar.days showDaysAround=false as |day|}}
      {{calendar-day day=day slots=slots count=true setViewingSlot=(action (mut viewingSlot))}}
    {{/calendar.days}}
  {{/power-calendar}}

  <section>
    {{#if viewingSlot.commitments}}
    <div class='viewing-slot'>
      <h3 class='hours'>{{moment-format viewingSlot.start 'dddd, MMMM D, h:mma'}}–{{moment-format viewingSlot.end 'h:mma'}}</h3>
      {{#each viewingSlot.commitments as |commitment|}}
        {{person-badge person=commitment.person}}
      {{/each}}
    </div>
    {{/if}}
    <h2>Temporary email interface</h2>
    {{paper-button label='Add all active people' raised=true onClick=(action 'addAllActive')}}
    {{#paper-chips
      removeItem=(action 'removePerson')
      addItem=(action 'addPerson')
      placeholder='Add a person to email'
      content=people
      options=remainingPeople
      searchField='name' as |person|}}
      {{person.name}}
    {{/paper-chips}}
    {{#paper-button primary=(gt people.length 0) raised=(gt people.length 0) onClick=(action 'email')}}Email {{monthString}} calendar link{{/paper-button}}
    {{#paper-button onClick=(action 'fetchLinks')}}View calendar links{{/paper-button}}
    {{#if links}}
      <ul>
        {{#each-in links as |email link|}}
          <li>{{email}}: <a href={{link}}>link</a></li>
        {{/each-in}}
      </ul>
    {{/if}}
    {{#if linksError}}
      There was an error loading calendar links: {{linksError}}
    {{/if}}
  </section>
</div>
