{{ember-load-remover}}
{{userSocket}}
<div class='flashes'>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>

{{paper-toaster}}

{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav lockedOpen="gt-sm"
    open=sidebar.open onToggle=(action (mut sidebar.open))}}

    {{#paper-content}}
      {{#paper-list}}
        {{#if session.currentUser.admin}}
          {{#paper-item}}
            {{#link-to 'drivers'}}<span>Drivers</span>{{/link-to}}
          {{/paper-item}}
          {{#paper-item}}
            {{#link-to 'reimbursements'}}<span>Reimbursements</span>{{/link-to}}
          {{/paper-item}}
          {{#paper-item}}
            {{#link-to 'debts'}}<span>Debts</span>{{/link-to}}
          {{/paper-item}}
          {{#paper-item}}
            {{#link-to 'rides'}}<span>Rides</span>{{/link-to}}
          {{/paper-item}}
          {{#paper-item}}
            {{#link-to 'institutions'}}<span>Institutions</span>{{/link-to}}
          {{/paper-item}}
        {{/if}}
        {{#paper-item}}
          {{#link-to 'reports.new'}}<span>Report</span>{{/link-to}}
        {{/paper-item}}
        {{#if session.isAuthenticated}}
          {{#if session.currentUser.admin}}
            {{#paper-item}}
              {{#link-to 'users'}}<span class='users'>
                <span>Users</span>
                {{#if userCount}}<span class='count'>{{userCount}}</span>{{/if}}
              </span>{{/link-to}}
            {{/paper-item}}
            {{paper-divider}}
          {{/if}}
          {{#paper-item}}
            <span onclick={{action 'logout'}} class='session'>Log out {{session.currentUser.email}}</span>
          {{/paper-item}}
        {{else}}
          {{#paper-item}}
            {{#link-to 'login'}}<span>Admin log in</span>{{/link-to}}
          {{/paper-item}}
        {{/if}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <main class='flex layout-column'>
    {{outlet}}
  </main>
{{/paper-sidenav-container}}
