{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Debts</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#head.column}}Person{{/head.column}}
    {{#head.column}}Food{{/head.column}}
    {{#head.column}}Car{{/head.column}}
    {{#head.column}}Total{{/head.column}}
  {{/table.head}}
    {{#each model as |debt|}}
    {{#table.body class='debt' as |body|}}
      {{#body.row class='person' as |row|}}
        {{#row.cell class='name'}}{{debt.person.name}}{{/row.cell}}
        {{#row.cell class='food-expenses'}}{{debt.foodExpensesDollars}}{{/row.cell}}
        {{#row.cell class='car-expenses'}}{{debt.carExpensesDollars}}{{/row.cell}}
        {{#row.cell class='total-expenses'}}{{debt.totalExpensesDollars}}{{/row.cell}}
      {{/body.row}}
      {{#each debt.rides as |ride|}}
        {{#body.row class='ride' as |row|}}
          {{#row.cell class='date'}}{{ride-times ride}}{{/row.cell}}
          {{#row.cell class='food-expenses'}}
            {{#if (eq ride.driver.id debt.person.id)}}
              {{ride.foodExpensesDollars}}
            {{else}}
              0
            {{/if}}
          {{/row.cell}}
          {{#row.cell class='car-expenses'}}
            {{#if (eq ride.carOwner.id debt.person.id)}}
              {{ride.carExpensesDollars}}
            {{else}}
              0
            {{/if}}
          {{/row.cell}}
          {{row.cell}}
        {{/body.row}}
      {{/each}}
      {{/table.body}}
    {{/each}}
{{/paper-data-table}}
