{{#toolbar-header title='Drivers'}}
  {{#paper-button mini=true aria-label='New driver' title='New driver' class='new' onClick=(action 'newPerson')}}
    {{paper-icon 'add'}}
  {{/paper-button}}
{{/toolbar-header}}

{{#paper-data-table sortProp='name' sortDir='asc' as |table|}}
  {{#table.head as |head|}}
    {{#head.column sortProp='name' class='name'}}Name{{/head.column}}
    {{#head.column class='email'}}Email{{/head.column}}
    {{#head.column class='mobile'}}Mobile{{/head.column}}
    {{#head.column class='landline'}}Landline{{/head.column}}
    {{#head.column class='notes'}}Notes{{/head.column}}
    {{head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (sort-by table.sortDesc model) as |person|}}
      {{#unless person.isNew}}
        {{person-row body=body person=person editPerson=(action 'editPerson')}}
      {{/unless}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{#if editingReimbursement}}
{{reimbursement-form reimbursement=editingReimbursement
                     cancel=(action 'cancel')
                     save=(action 'submit')}}
{{/if}}

{{#if editingPerson}}
{{#paper-dialog clickOutsideToClose=true
                fullscreen=true
                onClose=(action 'cancelPerson')}}

  {{#paper-dialog-content}}
    <h2 class='md-title'>{{if editingPerson.isNew 'New' 'Edit'}} person</h2>
    {{#paper-form onSubmit=savePerson as |form|}}
      {{#paper-radio-group
        groupValue=(readonly editingPerson.medium)
        onChange=(action (mut editingPerson.medium)) as |group|}}
        <div class='layout layout-sm-column'>
          {{form.input class='name' label='Name' autofocus=true value=editingPerson.name onChange=(action (mut editingPerson.name)) errors=editingPerson.validationErrors.name isTouched=editingPerson.validationErrors.name.length}}
        </div>
        <div class='layout layout-sm-column text-radio email'>
          {{form.input type='email' label='Email' value=editingPerson.email onChange=(action (mut editingPerson.email)) errors=editingPerson.validationErrors.email isTouched=editingPerson.validationErrors.email.length}}
          {{#group.radio value='email'}}{{paper-icon 'favorite'}}{{/group.radio}}
        </div>
        <div class='layout layout-sm-column text-radio mobile'>
          {{form.input type='mobile' label='Mobile' value=editingPerson.mobile onChange=(action (mut editingPerson.mobile)) errors=editingPerson.validationErrors.mobile isTouched=editingPerson.validationErrors.mobile.length}}
          {{#group.radio value='mobile'}}{{paper-icon 'favorite'}}{{/group.radio}}
        </div>
        <div class='layout layout-sm-column text-radio landline'>
          {{form.input type='mobile' label='Landline' value=editingPerson.landline onChange=(action (mut editingPerson.landline)) errors=editingPerson.validationErrors.landline isTouched=editingPerson.validationErrors.landline.length}}
          {{#group.radio value='landline'}}{{paper-icon 'favorite'}}{{/group.radio}}
        </div>
        <div class='layout layout-sm-column'>
          {{form.input textarea=true class='notes' label='Notes' value=editingPerson.notes onChange=(action (mut editingPerson.notes)) errors=editingPerson.validationErrors.notes isTouched=editingPerson.validationErrors.notes.length}}
        </div>
      {{/paper-radio-group}}
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=(action 'cancelPerson')}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=(action 'savePerson')}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}
