<PaperDialog>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2 class='md-title'>
        Forgot password
      </h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action 'submit'}} as |form|>
    <PaperDialogContent>
      <div class='layout layout-row'>
        <form.input
          @class='email'
          @type='email'
          @label='Email'
          @autofocus={{true}}
          @value={{this.email}}
          @onChange={{action (mut this.email)}}
        />
      </div>
      {{#if this.error}}
        <div class='error'>
          FIXME
        </div>
      {{/if}}
    </PaperDialogContent>

    <PaperDialogActions @class='layout-row'>
      <div class='layout layout-row'>
        <form.submit-button
          @class='submit'
          @primary={{true}}
          @raised={{true}}
          @onClick={{action 'submit'}}
        >
          Send reset email
        </form.submit-button>
      </div>
    </PaperDialogActions>
  </PaperForm>
</PaperDialog>