{{! template-lint-disable no-action no-curly-component-invocation }}
<ToolbarHeader @title='Log'>
  <PaperButton
    @mini={{true}}
    @aria-label='New post'
    @title='New post'
    @class='new'
    @onClick={{action 'newPost'}}
  >
    {{paper-icon 'note_add'}}
  </PaperButton>
</ToolbarHeader>

<PaperContent>
  <PaperDataTable @class='posts' as |table|>
    <table.head as |head|>
      <head.column>
        Meta
      </head.column>
      <head.column>
        Content
      </head.column>
      <head.column>
        {{#if (filter-by 'unread' this.model)}}
          <PaperButton
            @aria-label='Mark all read'
            @title='Mark all read'
            @class='markAllRead'
            @onClick={{action 'markAllRead'}}
          >
            Mark all read{{paper-icon 'done_all'}}
          </PaperButton>
        {{/if}}
      </head.column>
    </table.head>
    <table.body as |body|>
      {{#each (sort-by 'insertedAt:desc' this.model) as |post|}}
        {{#unless post.isNew}}
          <body.row as |row|>
            <row.cell @class='meta'>
              <span class='date'>
                {{moment-format post.insertedAt 'ddd MMM D YYYY h:mma'}}
              </span>
              <br />
              <span class='poster'>
                {{post.poster.email}}
              </span>
            </row.cell>
            <row.cell @class='content'>
              {{render-mobiledoc mobiledoc=post.bodyJson}}
            </row.cell>
            <row.cell @class='controls'>
              {{#if post.unread}}
                <PaperButton
                  @aria-label='Mark read'
                  @title='Mark read'
                  @class='markRead'
                  @onClick={{action 'markRead' post}}
                >
                  Mark read{{paper-icon 'done'}}
                </PaperButton>
              {{else}}
                <PaperButton
                  @aria-label='Mark unread'
                  @title='Mark unread'
                  @class='markUnread'
                  @onClick={{action 'markUnread' post}}
                >
                  Mark unread{{paper-icon 'autorenew'}}
                </PaperButton>
              {{/if}}
              {{#if (eq this.session.currentUser.id post.poster.id)}}
                <PaperButton
                  @iconButton={{true}}
                  @aria-label='Edit post'
                  @title='Edit post'
                  @class='edit'
                  @onClick={{action 'editPost' post}}
                >
                  {{paper-icon 'mode edit'}}
                </PaperButton>
                {{#if (eq this.deletingPost post)}}
                  Delete this post?
                  <PaperButton
                    @class='delete-confirm'
                    @warn={{true}}
                    @aria-label='Delete post'
                    @title='Delete post'
                    @onClick={{action 'deletePost'}}
                  >
                    Yes
                  </PaperButton>
                  <PaperButton
                    @class='delete-cancel'
                    @aria-label='Don’t delete report'
                    @title='Don’t delete report'
                    @onClick={{action (mut this.deletingPost)}}
                  >
                    No
                  </PaperButton>
                {{else}}
                  <PaperButton
                    @iconButton={{true}}
                    @aria-label='Delete post'
                    @title='Delete post'
                    @class='delete'
                    @onClick={{action (mut this.deletingPost) post}}
                  >
                    {{paper-icon 'delete'}}
                  </PaperButton>
                {{/if}}
              {{/if}}
            </row.cell>
          </body.row>
        {{/unless}}
      {{/each}}
    </table.body>
  </PaperDataTable>
</PaperContent>

{{#if this.editingPost}}
  <PaperDialog
    @clickOutsideToClose={{true}}
    @fullscreen={{true}}
    @onClose={{action 'cancelPost'}}
  >
    <PaperForm @onSubmit={{this.savePost}}>
      <PaperDialogContent>
        <h2 class='md-title'>
          {{if this.editingPost.isNew 'New' 'Edit'}}
          post
        </h2>
        <div class='layout layout-sm-column content'>
          <MobiledocEditor
            @mobiledoc={{this.editingPost.bodyJson}}
            @autofocus={{true}}
            @on-change={{action (mut this.editingPost.bodyJson)}} as |editor|
          >
            <MobiledocToolbar @editor={{editor}} />
          </MobiledocEditor>
          {{#if this.editingPost.validationErrors.body}}
            <div class='md-input-messages-animation md-auto-hide'>
              {{#each this.editingPost.validationErrors.body as |error|}}
                <div
                  class='paper-input-error ng-enter ng-enter-active md-input-message-animation'
                >
                  {{error}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </PaperDialogContent>
      <PaperDialogActions @class='layout-row'>
        <PaperButton @class='cancel' @onClick={{action 'cancelPost'}}>
          Cancel
        </PaperButton>
        <PaperButton
          @class='submit'
          @primary={{true}}
          @onClick={{action 'savePost'}}
        >
          Save
        </PaperButton>
      </PaperDialogActions>
    </PaperForm>
  </PaperDialog>
{{/if}}