<PaperDialog>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2 class='md-title'>
        Log in
      </h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action 'login'}} as |form|>
    <PaperDialogContent>
      <div class='layout layout-row'>
        <form.input
          @class='email'
          @type='email'
          @label='Email'
          @autofocus={{true}}
          @value={{this.model.email}}
          @onChange={{action (mut this.model.email)}}
        />
      </div>
      <div class='layout layout-row'>
        <form.input
          @class='password'
          @type='password'
          @label='Password'
          @value={{this.model.password}}
          @onChange={{action (mut this.model.password)}}
        >
          <div class='hint'>
            <LinkTo @route='forgot'>
              Forgot?
            </LinkTo>
          </div>
        </form.input>
      </div>
      {{#if this.error}}
        <div class='error'>
          There was an error logging you in.
        </div>
      {{/if}}
    </PaperDialogContent>

    <PaperDialogActions @class='layout-row'>
      <div class='layout layout-row'>
        <form.submit-button
          @class='submit'
          @primary={{true}}
          @raised={{true}}
          @onClick={{action 'login'}}
        >
          Log in
        </form.submit-button>
        <PaperButton @href='/register' @class='flex-order--1'>
          Register
        </PaperButton>
      </div>
    </PaperDialogActions>
  </PaperForm>
</PaperDialog>