{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>People</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#head.column}}Name{{/head.column}}
    {{#head.column}}Food{{/head.column}}
    {{#head.column}}Car{{/head.column}}
    {{#head.column}}Reimbursements{{/head.column}}
    {{#head.column}}Owed{{/head.column}}
    {{head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each model as |person|}}
      {{#body.row class='person' as |row|}}
        {{#row.cell class='name'}}{{person.name}}{{/row.cell}}
        {{#row.cell class='food'}}{{person.foodExpensesTotal}}{{/row.cell}}
        {{#row.cell class='car'}}{{person.carExpensesTotal}}{{/row.cell}}
        {{#row.cell class='reimbursements'}}{{person.reimbursementTotal}}{{/row.cell}}
        {{#row.cell class='owed'}}{{person.owed}}{{/row.cell}}
        {{#row.cell}}
          {{#paper-button iconButton=true aria-label='Add reimbursement' title='Add reimbursement' class='reimburse' onClick=(action 'addReimbursement' person)}}
            {{paper-icon 'drafts'}}
          {{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{#if editingReimbursement}}
{{reimbursement-form reimbursement=editingReimbursement
                     cancel=(action 'cancel')
                     save=(action 'submit')}}
{{/if}}
