<ToolbarHeader @title='Reimbursements' />

<PaperContent>
  {{#if this.monthReimbursementCollections}}
    <PaperDataTable @class='reimbursements layout-row' as |table|>
      <table.head as |head|>
        <head.column>
          Person
        </head.column>
        <head.column>
          Food
        </head.column>
        <head.column>
          Car
        </head.column>
        <head.column>
          Total
        </head.column>
        {{head.column}}
      </table.head>
      <table.body as |body|>
        {{#each
          this.monthReimbursementCollections as |monthReimbursementCollection|
        }}
          <body.row as |row|>
            <row.cell @class='month' @colspan={{4}}>
              {{monthReimbursementCollection.monthName}}
            </row.cell>
            <row.cell>
              <CopyButton @text={{monthReimbursementCollection.clipboardText}}>
                {{paper-icon
                  'content copy'
                  title=monthReimbursementCollection.copyIconTitle
                }}
              </CopyButton>
            </row.cell>
          </body.row>
          {{#each
            monthReimbursementCollection.reimbursementCollections as |reimbursementCollection|
          }}
            {{#if reimbursementCollection.reimbursements}}
              <body.row @class='person' as |row|>
                <row.cell @class='name'>
                  {{#if reimbursementCollection.showName}}
                    {{reimbursementCollection.person.name}}
                  {{/if}}
                </row.cell>
                <row.cell @class='food-expenses'>
                  {{#unless reimbursementCollection.donations}}
                    {{reimbursementCollection.foodExpensesDollars}}
                  {{/unless}}
                </row.cell>
                <row.cell>
                  <span class='car-expenses'>
                    {{reimbursementCollection.carExpensesDollars}}
                  </span>
                  {{#if reimbursementCollection.donations}}
                    <DonationIcon />
                  {{/if}}
                </row.cell>
                <row.cell @class='total-expenses'>
                  {{reimbursementCollection.totalExpensesDollars}}
                </row.cell>
                <row.cell>
                  <CopyButton @text={{reimbursementCollection.clipboardText}}>
                    {{paper-icon
                      'content copy'
                      title=reimbursementCollection.copyIconTitle
                    }}
                  </CopyButton>
                  <PaperButton
                    @class='process'
                    @primary={{not reimbursementCollection.donations}}
                    @onClick={{
                      action 'processReimbursements' reimbursementCollection
                    }}
                  >
                    Process
                  </PaperButton>
                  <PaperButton
                    @class='donate'
                    @primary={{reimbursementCollection.donations}}
                    @onClick={{
                      action
                      'processReimbursements'
                      reimbursementCollection
                      true
                    }}
                  >
                    Donate
                  </PaperButton>
                </row.cell>
              </body.row>
            {{/if}}
          {{/each}}
        {{/each}}
      </table.body>
    </PaperDataTable>
  {{else}}
    <PaperDataTable as |table|>
      <table.body as |body|>
        <body.row as |row|>
          <row.cell @class='no-reimbursements'>
            There are no unprocessed reimbursements to view.
          </row.cell>
        </body.row>
      </table.body>
    </PaperDataTable>
  {{/if}}
  <PaperSwitch
    @class='processed layout-row'
    @value={{this.showProcessed}}
    @onChange={{action (mut this.showProcessed)}}
  >
    Show processed reimbursements
  </PaperSwitch>
  {{#if this.showProcessed}}
    <PaperDataTable @class='layout-row' as |table|>
      <table.head as |head|>
        <head.column>
          Date
        </head.column>
        <head.column>
          Person
        </head.column>
        <head.column>
          Ride
        </head.column>
        <head.column>
          Expense
        </head.column>
        <head.column>
          Donation?
        </head.column>
      </table.head>
      <table.body as |body|>
        {{#each this.processedReimbursements as |reimbursement|}}
          <body.row @class='reimbursement' as |row|>
            <row.cell @class='date'>
              {{moment-format reimbursement.insertedAt 'YYYY-MM-DD'}}
            </row.cell>
            <row.cell @class='name'>
              {{reimbursement.person.name}}
            </row.cell>
            <row.cell @class='ride'>
              {{#if
                (and
                  reimbursement.ride.start reimbursement.ride.institution.name
                )
              }}
                {{moment-format reimbursement.ride.start 'YYYY-MM-DD'
                }} to {{reimbursement.ride.institution.name}}
              {{/if}}
            </row.cell>
            <row.cell @class='expenses'>
              {{#if reimbursement.foodExpensesDollars}}
                {{paper-icon 'local cafe'}}
                <span>
                  {{reimbursement.foodExpensesDollars}}
                </span>
              {{else}}
                {{paper-icon 'local gas station'}}
                <span>
                  {{reimbursement.carExpensesDollars}}
                </span>
              {{/if}}
            </row.cell>
            <row.cell @class='donation'>
              {{#if reimbursement.donation}}
                {{paper-icon 'done'}}
              {{/if}}
            </row.cell>
          </body.row>
        {{/each}}
      </table.body>
    </PaperDataTable>
  {{/if}}
</PaperContent>
{{#if this.editingReimbursement}}
  <ReimbursementForm
    @reimbursement={{this.editingReimbursement}}
    @cancel={{action 'cancel'}}
    @save={{action 'submitReimbursement'}}
  />
{{/if}}