{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Reimbursements</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#head.column}}Person{{/head.column}}
    {{#head.column}}Amount{{/head.column}}
    {{#head.column}}Donation?{{/head.column}}
    {{head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each model as |reimbursement|}}
      {{#body.row class='reimbursement' as |row|}}
        {{#row.cell class='name'}}{{reimbursement.person.name}}{{/row.cell}}
        {{#row.cell class='amount'}}{{reimbursement.amount}}{{/row.cell}}
        {{#row.cell class='donation'}}
          {{#if reimbursement.donation}}{{paper-icon 'done'}}{{/if}}
        {{/row.cell}}

        {{#row.cell}}
          {{#paper-button iconButton=true aria-label='Edit reimbursement' class='edit' onClick=(action 'editReimbursement' reimbursement)}}
            {{paper-icon 'mode edit'}}
          {{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{#if editingReimbursement}}
{{reimbursement-form reimbursement=editingReimbursement
                     cancel=(action 'cancel')
                     save=(action 'submit')}}
{{/if}}
