{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Reimbursements</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#head.column}}Person{{/head.column}}
    {{#head.column}}Food{{/head.column}}
    {{#head.column}}Car{{/head.column}}
    {{#head.column}}Total{{/head.column}}
    {{head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each personAndReimbursements as |personAndReimbursementsInstanceLol|}}
      {{#body.row class='person' as |row|}}
        {{#row.cell class='name'}}{{personAndReimbursementsInstanceLol.person.name}}{{/row.cell}}
        {{#row.cell class='food-expenses'}}{{personAndReimbursementsInstanceLol.foodExpensesDollars}}{{/row.cell}}
        {{#row.cell class='car-expenses'}}{{personAndReimbursementsInstanceLol.carExpensesDollars}}{{/row.cell}}
        {{#row.cell class='total-expenses'}}{{personAndReimbursementsInstanceLol.totalExpensesDollars}}{{/row.cell}}
        {{#row.cell}}
          {{#paper-button class='process' onClick=(action 'processReimbursements' personAndReimbursementsInstanceLol)}}
            Process
          {{/paper-button}}
          {{#paper-button class='donate' onClick=(action 'processReimbursements' personAndReimbursementsInstanceLol true)}}
            Donate
          {{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
    {{#body.row as |row|}}
      {{#row.cell colspan=5}}
        {{#paper-switch class='processed' value=showProcessed onChange=(action (mut showProcessed))}}
          Show processed reimbursements
        {{/paper-switch}}
      {{/row.cell}}
    {{/body.row}}
    {{#if showProcessed}}
      {{#each processedReimbursements as |reimbursement|}}
        {{#body.row class='reimbursement' as |row|}}
          {{#row.cell class='name'}}{{reimbursement.person.name}}{{/row.cell}}
          {{#row.cell class='food-expenses'}}{{if reimbursement.foodExpensesDollars reimbursement.foodExpensesDollars}}{{/row.cell}}
          {{#row.cell class='car-expenses'}}{{if reimbursement.carExpensesDollars reimbursement.carExpensesDollars}}{{/row.cell}}
          {{row.cell}}
          {{row.cell}}
        {{/body.row}}
      {{/each}}
    {{/if}}
  {{/table.body}}
{{/paper-data-table}}

{{#if editingReimbursement}}
{{reimbursement-form reimbursement=editingReimbursement
                     cancel=(action 'cancel')
                     save=(action 'submit')}}
{{/if}}
