{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Reimbursements</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table as |table|}}
  {{#table.head as |head|}}
    {{#head.column}}Person{{/head.column}}
    {{#head.column}}Food{{/head.column}}
    {{#head.column}}Car{{/head.column}}
    {{#head.column}}Total{{/head.column}}
    {{head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each personAndReimbursements as |personAndReimbursementsInstanceLol|}}
      {{#body.row class='person' as |row|}}
        {{#row.cell class='name'}}{{personAndReimbursementsInstanceLol.person.name}}{{/row.cell}}
        {{#row.cell class='food-expenses'}}{{personAndReimbursementsInstanceLol.foodExpensesDollars}}{{/row.cell}}
        {{#row.cell class='car-expenses'}}{{personAndReimbursementsInstanceLol.carExpensesDollars}}{{/row.cell}}
        {{#row.cell class='total-expenses'}}{{personAndReimbursementsInstanceLol.totalExpensesDollars}}{{/row.cell}}
        {{#row.cell}}
          {{#paper-button class='process' onClick=(action 'processReimbursements' personAndReimbursementsInstanceLol)}}
            Process
          {{/paper-button}}
          {{#paper-button class='donate' onClick=(action 'processReimbursements' personAndReimbursementsInstanceLol true)}}
            Donate
          {{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{#paper-switch class='processed' value=showProcessed onChange=(action (mut showProcessed))}}
  Show processed reimbursements
{{/paper-switch}}

{{#if showProcessed}}
  {{#paper-data-table as |table|}}
    {{#table.head as |head|}}
      {{#head.column}}Date{{/head.column}}
      {{#head.column}}Person{{/head.column}}
      {{#head.column}}Expense{{/head.column}}
      {{#head.column}}Donation?{{/head.column}}
    {{/table.head}}
    {{#table.body as |body|}}
      {{#each processedReimbursements as |reimbursement|}}
        {{#body.row class='reimbursement' as |row|}}
          {{#row.cell class='date'}}{{moment-format reimbursement.insertedAt 'YYYY-MM-DD'}}{{/row.cell}}
          {{#row.cell class='name'}}{{reimbursement.person.name}}{{/row.cell}}
          {{#row.cell class='expenses'}}
            {{#if reimbursement.foodExpensesDollars}}
              {{paper-icon 'local cafe'}} <span>{{reimbursement.foodExpensesDollars}}</span>
            {{else}}
              {{paper-icon 'local gas station'}} <span>{{reimbursement.carExpensesDollars}}</span>
            {{/if}}
          {{/row.cell}}
          {{#row.cell class='donation'}}
            {{#if reimbursement.donation}}{{paper-icon 'done'}}{{/if}}
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}
{{/if}}

{{#if editingReimbursement}}
{{reimbursement-form reimbursement=editingReimbursement
                     cancel=(action 'cancel')
                     save=(action 'submit')}}
{{/if}}
