<PaperDialog>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2 class='md-title'>
        Reset password
      </h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action 'submit'}} as |form|>
    <PaperDialogContent>
      <div class='layout layout-row'>
        <form.input
          @class='password'
          @type='password'
          @label='Password'
          @autofocus={{true}}
          @value={{this.password}}
          @onChange={{action (mut this.password)}}
        />
      </div>
      <div class='layout layout-row'>
        <form.input
          @class='password-confirmation'
          @type='password'
          @label='Password confirmation'
          @value={{this.passwordConfirmation}}
          @onChange={{action (mut this.passwordConfirmation)}}
        />
      </div>
      {{#if this.error}}
        <div class='error'>
          FIXME
        </div>
      {{/if}}
    </PaperDialogContent>

    <PaperDialogActions @class='layout-row'>
      <div class='layout layout-row'>
        <form.submit-button
          @class='submit'
          @primary={{true}}
          @raised={{true}}
          @onClick={{action 'submit'}}
        >
          Update password
        </form.submit-button>
      </div>
    </PaperDialogActions>
  </PaperForm>
</PaperDialog>