{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Rides</h2>
    <span class='flex'></span>
    {{#paper-button mini=true aria-label='New ride' class='new' onClick=(action 'newRide')}}
      {{paper-icon 'add'}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table sortProp='start' sortDir='desc' as |table|}}
  {{#table.head as |head|}}
    {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
    {{#head.column}}Institution{{/head.column}}
    {{#head.column}}Visitor name{{/head.column}}
    {{#head.column}}Pickup address{{/head.column}}
    {{#head.column}}Visitor phone/email{{/head.column}}
    {{#head.column}}Passengers{{/head.column}}
    {{#head.column}}Driver{{/head.column}}
    {{#head.column}}Car owner{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#if newRide}}
      {{#body.row as |row|}}
        {{#row.cell class='date'}}
          <label>Date {{input class='date' value=newRide.date type='date'}}</label>
          <label>Start {{input class='start' value=newRide.startTime type='time'}}</label>
          <label>End {{input class='end' value=newRide.endTime type='time'}}</label>
        {{/row.cell}}
        {{#row.cell class='institution'}}
          {{#paper-select
            class='institution'
            placeholder="Institution"
            selected=newRide.institution
            options=institutions
            onChange=(action (mut newRide.institution))
            as |institution|}}
            {{institution.name}}
          {{/paper-select}}
        {{/row.cell}}
        {{#row.cell class='name'}}
          <label>Name {{input class='name' value=newRide.name}}</label>
        {{/row.cell}}
        {{#row.cell class='address'}}
          <label>Address {{input class='address' value=newRide.address}}</label>
        {{/row.cell}}
        {{#row.cell class='contact'}}
          <label>Contact {{input class='contact' value=newRide.contact}}</label>
        {{/row.cell}}
        {{#row.cell class='passengers'}}
          <label>Passengers {{input class='passengers' type='number' value=newRide.passengers}}</label>
        {{/row.cell}}
        {{#row.cell class='driver'}}
          {{#paper-select
            class='driver'
            placeholder="Driver"
            selected=newRide.driver
            options=people
            onChange=(action (mut newRide.driver))
            as |person|}}
            {{person.name}}
          {{/paper-select}}
        {{/row.cell}}
        {{#row.cell class='car-owner'}}
          {{#paper-select
            class='car-owner'
            placeholder="Car owner"
            selected=newRide.carOwner
            options=people
            onChange=(action (mut newRide.carOwner))
            as |person|}}
            {{person.name}}
          {{/paper-select}}
        {{/row.cell}}
        {{#row.cell}}
          <button class='submit' {{action 'submit' newRide}}>Submit</button>
        {{/row.cell}}
      {{/body.row}}
    {{/if}}
    {{#each (filter-by 'id' (sort-by table.sortDesc model)) as |ride|}}
      {{#body.row class='ride' as |row|}}
        {{#row.cell class='date'}}{{moment-format ride.start 'YYYY-MM-DD'}} {{moment-format ride.start 'h:mma'}} — {{moment-format ride.end 'h:mma'}}{{/row.cell}}
        {{#row.cell class='institution'}}{{ride.institution.name}}{{/row.cell}}
        {{#row.cell class='name'}}{{ride.name}}{{/row.cell}}
        {{#row.cell class='address'}}{{ride.address}}{{/row.cell}}
        {{#row.cell class='contact'}}{{ride.contact}}{{/row.cell}}
        {{#row.cell class='passengers'}}{{ride.passengers}}{{/row.cell}}
        {{#row.cell class='driver'}}{{ride.driver.name}}{{/row.cell}}
        {{#row.cell class='car-owner'}}{{ride.carOwner.name}}{{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}
