{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Rides</h2>
    <span class='flex'></span>
    {{#link-to 'rides.new'}}
      {{#paper-button mini=true aria-label='New ride' class='new'}}
        {{paper-icon 'add'}}
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table sortProp='start' sortDir='desc' as |table|}}
  {{#table.head as |head|}}
    {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
    {{#head.column}}Institution{{/head.column}}
    {{#head.column}}Visitor name{{/head.column}}
    {{#head.column}}Pickup address{{/head.column}}
    {{#head.column}}Visitor phone/email{{/head.column}}
    {{#head.column}}Passengers{{/head.column}}
    {{#head.column}}Driver{{/head.column}}
    {{#head.column}}Car owner{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (sort-by table.sortDesc model) as |ride|}}
      {{#body.row as |row|}}
        {{#row.cell class='date'}}{{moment-format ride.start 'YYYY-MM-DD'}} {{moment-format ride.start 'h:mma'}} — {{moment-format ride.end 'h:mma'}}{{/row.cell}}
        {{#row.cell class='institution'}}{{ride.institution.name}}{{/row.cell}}
        {{#row.cell class='name'}}{{ride.name}}{{/row.cell}}
        {{#row.cell class='address'}}{{ride.address}}{{/row.cell}}
        {{#row.cell class='contact'}}{{ride.contact}}{{/row.cell}}
        {{#row.cell class='passengers'}}{{ride.passengers}}{{/row.cell}}
        {{#row.cell class='driver'}}{{ride.driver.name}}{{/row.cell}}
        {{#row.cell class='car-owner'}}{{ride.carOwner.name}}{{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{outlet}}
