{{#toolbar-header title='Rides'}}
  {{#paper-button mini=true aria-label='New ride' title='New ride' class='new' onClick=(action 'newRide')}}
    {{paper-icon 'add'}}
  {{/paper-button}}
{{/toolbar-header}}

<div class='switch-container layout-row layout-align-start-center'>
    {{#paper-switch class='completed' value=showCompleted onChange=(action (mut showCompleted))}}
      Show reported-upon rides
    {{/paper-switch}}
    {{#paper-switch class='cancelled' value=showCancelled onChange=(action (mut showCancelled))}}
      Show cancelled rides
    {{/paper-switch}}
</div>

{{#paper-content class='layout-column flex no-overflow-scroll'}}
  {{#paper-data-table sortProp=sortProp sortDir=sortDir class='rides' as |table|}}
    {{#table.head as |head|}}
      {{#if showCreation}}
        {{#head.column}}Created{{/head.column}}
      {{/if}}
      {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
      {{#head.column}}Institution{{/head.column}}
      {{#head.column}}Visitor{{/head.column}}
      {{#head.column}}Pickup address{{/head.column}}
      {{#head.column}}Driver/car owner{{/head.column}}
      {{#head.column}}{{/head.column}}
    {{/table.head}}
    {{#table.body as |body|}}
      {{#each (filter-by 'id' (sort-by table.sortDesc filteredRides)) as |ride|}}
        {{ride-row body=body ride=ride showCreation=showCreation editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=people rideToCombine=rideToCombine}}
        {{#each ride.children as |child|}}
          {{ride-row body=body ride=child combined=true showCreation=showCreation editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=people rideToCombine=rideToCombine}}
        {{/each}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}


  {{#if editingRide}}
  {{ride-form ride=editingRide
              cancel=(action 'cancel' editingRide)
              save=(action 'submit' editingRide)}}
  {{/if}}

  {{#if editingCancellation}}
  {{cancellation-form ride=editingCancellation
                      save=(action 'submitCancellation' editingCancellation)
                      cancel=(action 'cancelCancellation' editingCancellation)}}
  {{/if}}
{{/paper-content}}
