{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Rides</h2>
    <span class='flex'></span>
    {{#paper-button mini=true aria-label='New ride' title='New ride' class='new' onClick=(action 'newRide')}}
      {{paper-icon 'add'}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-switch class='completed' value=showCompleted onChange=(action (mut showCompleted))}}
  Show reported-upon rides
{{/paper-switch}}

{{#paper-switch class='cancelled' value=showCancelled onChange=(action (mut showCancelled))}}
  Show cancelled rides
{{/paper-switch}}

{{#paper-data-table sortProp='start' sortDir='desc' as |table|}}
  {{#table.head as |head|}}
    {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
    {{#head.column}}Institution{{/head.column}}
    {{#head.column}}Visitor{{/head.column}}
    {{#head.column}}Pickup address{{/head.column}}
    {{#head.column}}Driver/car owner{{/head.column}}
    {{#head.column}}{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (filter-by 'id' (sort-by table.sortDesc filteredRides)) as |ride|}}
      {{ride-row body=body ride=ride editCancellation=(action 'editCancellation') editRide=(action 'editRide') people=people}}
      {{#each ride.children as |child|}}
        {{ride-row body=body ride=child combined=true editCancellation=(action 'editCancellation') editRide=(action 'editRide') people=people}}
      {{/each}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}


{{#if editingRide}}
{{ride-form ride=editingRide
            cancel=(action 'cancel' editingRide)
            save=(action 'submit' editingRide)}}
{{/if}}

{{#if editingCancellation}}
{{#paper-dialog onClose=(action 'cancelCancellation') clickOutsideToClose=true}}

  {{#paper-dialog-content}}
    <h2 class='md-title'>Cancel a ride</h2>
    {{#paper-form onSubmit=(action 'submitCancellation') as |form|}}
      <div class='layout layout-sm-column'>
        {{#paper-checkbox
          value=editingCancellation.cancelled
          onChange=(action 'cancelledChanged')}}Cancelled?{{/paper-checkbox}}
      </div>

      <div class='layout layout-sm-column'>
        {{#paper-select
          class='reason'
          placeholder='Reason'
          selected=editingCancellation.cancellationReason
          options=cancellationReasons
          onChange=(action (mut editingCancellation.cancellationReason))
          as |reason|}}
          {{reason}}
        {{/paper-select}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=(action 'cancelCancellation')}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=(action 'submitCancellation' editingCancellation)}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}
