{{#toolbar-header title='Rides'}}
  {{#paper-button mini=true aria-label='New ride' title='New ride' class='new' onClick=(action 'newRide')}}
    {{paper-icon 'add'}}
  {{/paper-button}}
{{/toolbar-header}}

<div class='switch-container layout-row layout-align-start-center'>
  {{#paper-input
    class='search'
    type='search'
    icon='search'
    placeholder='Institution, driver, visitor, address'
    value=this.search
    onChange=(action (mut this.search)) as |input|}}
    {{#if input.hasValue}}
      {{#paper-button icon=true aria-label='Clear search' title='Clear search' onClick=(action 'clearSearch')}}
        {{paper-icon 'clear' size=14}}
      {{/paper-button}}
    {{/if}}
  {{/paper-input}}
  {{#paper-switch class='completed' value=this.showCompleted onChange=(action (mut this.showCompleted))}}
    Reported-on
  {{/paper-switch}}
  {{#paper-switch class='cancelled' value=this.showCancelled onChange=(action (mut this.showCancelled))}}
    Cancelled
  {{/paper-switch}}
</div>

{{#paper-content class='layout-column flex no-overflow-scroll'}}
  {{#paper-data-table sortProp=this.sortProp sortDir=this.sortDir class='rides' as |table|}}
    {{#table.head as |head|}}
      {{#if this.showCreation}}
        {{#head.column}}Created{{/head.column}}
      {{/if}}
      {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
      {{#head.column}}Institution{{/head.column}}
      {{#head.column}}Visitor{{/head.column}}
      {{#head.column}}Pickup address{{/head.column}}
      {{#head.column}}Driver/car owner{{/head.column}}
      {{#head.column}}{{/head.column}}
    {{/table.head}}
    {{#table.body as |body|}}
      {{#each (filter-by 'id' (sort-by table.sortDesc this.filteredRides)) as |ride|}}
        {{ride-row body=body ride=ride showCreation=this.showCreation editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=this.people rideToCombine=this.rideToCombine}}
        {{#each ride.children as |child|}}
          {{ride-row body=body ride=child combined=true showCreation=this.showCreation editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=this.people rideToCombine=this.rideToCombine}}
        {{/each}}
      {{else}}
        {{#body.row class='no-matches' as |row|}}
          {{#row.cell colspan=6}}
            {{! template-lint-disable no-html-comments }}
            No rides matched your criteria. 😭 <!-- FIXME WTF! Without this, the institutions select in the dialogue has no options? {{filteredRides.length}} -->
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}


  {{#if this.editingRide}}
    {{ride-form ride=this.editingRide
                cancel=(action 'cancel' this.editingRide)
                save=(action 'submit' this.editingRide)}}
  {{/if}}

  {{#if this.editingCancellation}}
    {{cancellation-form ride=this.editingCancellation
                        save=(action 'submitCancellation' this.editingCancellation)
                        cancel=(action 'cancelCancellation' this.editingCancellation)}}
  {{/if}}
{{/paper-content}}
