{{#toolbar-header title='Rides'}}
  {{#paper-button mini=true aria-label='New ride' title='New ride' class='new' onClick=(action 'newRide')}}
    {{paper-icon 'add'}}
  {{/paper-button}}
{{/toolbar-header}}

<div class='switch-container layout-row layout-align-start-center'>
    {{#paper-button raised=true iconButton=true aria-label='Narrow range of rides' onClick=(action 'toggleCalendar')}}
      {{paper-icon 'date range'}}
    {{/paper-button}}
    {{#if showCalendar}}
      {{#power-calendar-range
        class='calendar-window'
        center=calendarCentre
        selected=calendarRange
        onSelect=(action (mut calendarRange) value='moment')
        onCenterChange=(action (mut calendarCentre) value='date') as |calendar|}}
        {{calendar.nav}}

        {{#calendar.days as |day|}}
          {{day.number}}
        {{/calendar.days}}
      {{/power-calendar-range}}
    {{/if}}
    {{#paper-switch class='completed' value=showCompleted onChange=(action (mut showCompleted))}}
      Show reported-upon rides
    {{/paper-switch}}
    {{#paper-switch class='cancelled' value=showCancelled onChange=(action (mut showCancelled))}}
      Show cancelled rides
    {{/paper-switch}}
</div>

{{#paper-content class='layout-column flex no-overflow-scroll'}}
  {{#paper-data-table sortProp=sortProp sortDir=sortDir class='rides' as |table|}}
    {{#table.head as |head|}}
      {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
      {{#head.column}}Institution{{/head.column}}
      {{#head.column}}Visitor{{/head.column}}
      {{#head.column}}Pickup address{{/head.column}}
      {{#head.column}}Driver/car owner{{/head.column}}
      {{#head.column}}{{/head.column}}
    {{/table.head}}
    {{#table.body as |body|}}
      {{#each (filter-by 'id' (sort-by table.sortDesc filteredRides)) as |ride|}}
        {{ride-row body=body ride=ride editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=people rideToCombine=rideToCombine}}
        {{#each ride.children as |child|}}
          {{ride-row body=body ride=child combined=true editCancellation=(action 'editCancellation') editRide=(action 'editRide') combineRide=(action 'combineRide') uncombineRide=(action 'uncombineRide') people=people rideToCombine=rideToCombine}}
        {{/each}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}


  {{#if editingRide}}
  {{ride-form ride=editingRide
              cancel=(action 'cancel' editingRide)
              save=(action 'submit' editingRide)}}
  {{/if}}

  {{#if editingCancellation}}
  {{cancellation-form ride=editingCancellation
                      save=(action 'submitCancellation' editingCancellation)
                      cancel=(action 'cancelCancellation' editingCancellation)}}
  {{/if}}
{{/paper-content}}
