{{! template-lint-disable no-action }}
<ToolbarHeader @title='Rides'>
  <PaperButton
    @mini={{true}}
    @aria-label='New ride'
    @title='New ride'
    class='new'
    @onClick={{action 'newRide'}}
  >
    {{paper-icon 'add'}}
  </PaperButton>
</ToolbarHeader>

<div class='switch-container layout-row layout-align-start-center'>
  <PaperInput
    class='search'
    @type='search'
    @icon='search'
    @placeholder='Institution, driver, visitor, address'
    @value={{this.search}}
    @onChange={{action (mut this.search)}} as |input|
  >
    {{#if input.hasValue}}
      <PaperButton
        @icon={{true}}
        @aria-label='Clear search'
        @title='Clear search'
        @onClick={{action 'clearSearch'}}
      >
        {{paper-icon 'clear' size=14}}
      </PaperButton>
    {{/if}}
  </PaperInput>
  <PaperSwitch
    class='completed'
    @value={{this.showCompleted}}
    @onChange={{action (mut this.showCompleted)}}
  >
    Reported-on
  </PaperSwitch>
  <PaperSwitch
    class='cancelled'
    @value={{this.showCancelled}}
    @onChange={{action (mut this.showCancelled)}}
  >
    Cancelled
  </PaperSwitch>
</div>

<PaperContent class='layout-column flex no-overflow-scroll'>
  <PaperDataTable
    @sortProp={{this.sortProp}}
    @sortDir={{this.sortDir}}
    class='rides' as |table|
  >
    <table.head as |head|>
      {{#if this.showCreation}}
        <head.column>
          Created
        </head.column>
      {{/if}}
      <head.column @sortProp='start' class='date'>
        Date
      </head.column>
      <head.column>
        Institution
      </head.column>
      <head.column>
        Visitor
      </head.column>
      <head.column>
        Pickup address
      </head.column>
      <head.column>
        Driver/car owner
      </head.column>
      <head.column />
    </table.head>
    <table.body as |body|>
      {{#each
        (filter-by 'id' (sort-by table.sortDesc this.filteredRides)) as |ride|
      }}
        <RideRow
          @body={{body}}
          @ride={{ride}}
          @showCreation={{this.showCreation}}
          @editCancellation={{action 'editCancellation'}}
          @editRide={{action 'editRide'}}
          @combineRide={{action 'combineRide'}}
          @uncombineRide={{action 'uncombineRide'}}
          @people={{this.people}}
          @rideToCombine={{this.rideToCombine}}
        />
        {{#each ride.children as |child|}}
          <RideRow
            @body={{body}}
            @ride={{child}}
            @combined={{true}}
            @showCreation={{this.showCreation}}
            @editCancellation={{action 'editCancellation'}}
            @editRide={{action 'editRide'}}
            @combineRide={{action 'combineRide'}}
            @uncombineRide={{action 'uncombineRide'}}
            @people={{this.people}}
            @rideToCombine={{this.rideToCombine}}
          />
        {{/each}}
      {{else}}
        <body.row class='no-matches' as |row|>
          <row.cell @colspan={{6}}>
            {{! template-lint-disable no-html-comments }}
            No rides matched your criteria. 😭<!-- FIXME WTF! Without this, the institutions select in the dialogue has no options? {{filteredRides.length}} -->
          </row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </PaperDataTable>

  {{#if this.editingRide}}
    <RideForm
      @ride={{this.editingRide}}
      @cancel={{action 'cancel' this.editingRide}}
      @save={{action 'submit' this.editingRide}}
    />
  {{/if}}

  {{#if this.editingCancellation}}
    <CancellationForm
      @ride={{this.editingCancellation}}
      @save={{action 'submitCancellation' this.editingCancellation}}
      @cancel={{action 'cancelCancellation' this.editingCancellation}}
    />
  {{/if}}
</PaperContent>