{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Rides</h2>
    <span class='flex'></span>
    {{#paper-button mini=true aria-label='New ride' class='new' onClick=(action 'newRide')}}
      {{paper-icon 'add'}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-data-table sortProp='start' sortDir='desc' as |table|}}
  {{#table.head as |head|}}
    {{head.column}}
    {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
    {{#head.column}}Institution{{/head.column}}
    {{#head.column}}Visitor name{{/head.column}}
    {{#head.column}}Pickup address{{/head.column}}
    {{#head.column}}Visitor phone/email{{/head.column}}
    {{#head.column}}Driver{{/head.column}}
    {{#head.column}}Car owner{{/head.column}}
    {{#head.column}}{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (filter-by 'id' (sort-by table.sortDesc filteredRides)) as |ride|}}
      {{#body.row class=(if ride.enabled 'ride enabled' 'ride') as |row|}}
        {{#row.cell}}
          {{paper-switch value=ride.enabled onChange=(action (mut ride.enabled))}}
        {{/row.cell}}
        {{#row.cell class='date'}}{{moment-format ride.start 'YYYY-MM-DD'}} {{moment-format ride.start 'h:mma'}} — {{moment-format ride.end 'h:mm'}}{{/row.cell}}
        {{#row.cell class='institution'}}{{ride.institution.name}}{{/row.cell}}
        {{#row.cell class='name'}}{{ride.namePlusPassengers}}{{/row.cell}}
        {{#row.cell class='address'}}{{ride.address}}{{/row.cell}}
        {{#row.cell class='contact'}}{{ride.contact}}{{/row.cell}}
        {{#row.cell class='driver'}}{{ride.driver.name}}{{/row.cell}}
        {{#row.cell class='car-owner'}}{{ride.carOwner.name}}{{/row.cell}}
        {{#row.cell}}
          {{#paper-button iconButton=true aria-label='Edit ride' class='edit' onClick=(action 'editRide' ride)}}
            {{paper-icon 'mode edit'}}
          {{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}


{{#if editingRide}}
{{#paper-dialog onClose=(action 'cancel') origin=dialogOrigin}}

  {{#paper-dialog-content}}
    <h2 class='md-title'>Record a ride request</h2>
    {{#paper-form onSubmit=(action 'submit') as |form|}}
      <div class='layout layout-sm-column'>
        {{form.input class='date' label='Date' type='date' autofocus=true value=editingRide.date onChange=(action (mut editingRide.date))}}
        {{form.input class='start' label='Start' type='time' value=editingRide.startTime onChange=(action (mut editingRide.startTime))}}
        {{form.input class='end' label='End' type='time' value=editingRide.endTime onChange=(action (mut editingRide.endTime))}}

        {{#paper-select
          class='institution'
          placeholder="Institution"
          selected=editingRide.institution
          options=institutions
          onChange=(action (mut editingRide.institution))
          as |institution|}}
          {{institution.name}}
        {{/paper-select}}
      </div>

      <h3 class='md-title'>Visitor details</h3>

      <div class='layout layout-sm-column'>
        {{form.input class='name' label='Name' value=editingRide.name onChange=(action (mut editingRide.name))}}
        {{form.input class='passengers' label='Passengers' value=editingRide.passengers onChange=(action (mut editingRide.passengers))}}
        {{form.input class='address' label='Address' value=editingRide.address onChange=(action (mut editingRide.address))}}
        {{form.input class='contact' label='Contact' value=editingRide.contact onChange=(action (mut editingRide.contact))}}
      </div>

      <h4 class='md-title'>Driver/car owner: should not be here</h4>

      <div class='layout layout-sm-column'>
        {{#paper-select
          class='driver'
          placeholder="Driver"
          selected=editingRide.driver
          options=people
          onChange=(action (mut editingRide.driver))
          as |person|}}
          {{person.name}}
        {{/paper-select}}
        {{#paper-select
          class='car-owner'
          placeholder="Car owner"
          selected=editingRide.carOwner
          options=people
          onChange=(action (mut editingRide.carOwner))
          as |person|}}
          {{person.name}}
        {{/paper-select}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=(action 'cancel' editingRide)}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=(action 'submit' editingRide)}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}
