{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Rides</h2>
    <span class='flex'></span>
    {{#paper-button mini=true aria-label='New ride' title='New ride' class='new' onClick=(action 'newRide')}}
      {{paper-icon 'add'}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-switch class='completed' value=showCompleted onChange=(action (mut showCompleted))}}
  Show reported-upon rides
{{/paper-switch}}

{{#paper-switch class='cancelled' value=showCancelled onChange=(action (mut showCancelled))}}
  Show cancelled rides
{{/paper-switch}}

{{#paper-data-table sortProp='start' sortDir='desc' as |table|}}
  {{#table.head as |head|}}
    {{#head.column sortProp='start' class='date'}}Date{{/head.column}}
    {{#head.column}}Institution{{/head.column}}
    {{#head.column}}Visitor{{/head.column}}
    {{#head.column}}Pickup address{{/head.column}}
    {{#head.column}}Driver/car owner{{/head.column}}
    {{#head.column}}{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (filter-by 'id' (sort-by table.sortDesc filteredRides)) as |ride|}}
      {{ride-row body=body ride=ride editCancellation=(action 'editCancellation') editRide=(action 'editRide') people=people}}
      {{#each ride.children as |child|}}
        {{ride-row body=body ride=child combined=true editCancellation=(action 'editCancellation') editRide=(action 'editRide') people=people}}
      {{/each}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}


{{#if editingRide}}
{{#paper-dialog onClose=(action 'cancel') origin=dialogOrigin}}

  {{#paper-dialog-content}}
    <h2 class='md-title'>Record a ride request</h2>
    {{#paper-form onSubmit=(action 'submit') as |form|}}
      <div class='layout layout-sm-column'>
        {{form.input class='date' label='Date' type='date' autofocus=true value=editingRide.date onChange=(action (mut editingRide.date))}}
        {{form.input class='start' label='Start' type='time' value=editingRide.startTime onChange=(action (mut editingRide.startTime))}}
        {{form.input class='end' label='End' type='time' value=editingRide.endTime onChange=(action (mut editingRide.endTime))}}

        {{#paper-select
          class='institution'
          placeholder="Institution"
          selected=editingRide.institution
          options=institutions
          onChange=(action (mut editingRide.institution))
          as |institution|}}
          {{institution.name}}
        {{/paper-select}}
      </div>

      <h3 class='md-title'>Visitor details</h3>

      <div class='layout layout-sm-column'>
        {{form.input class='name' label='Name' value=editingRide.name onChange=(action (mut editingRide.name))}}
        {{form.input class='passengers' label='Passengers' value=editingRide.passengers onChange=(action (mut editingRide.passengers))}}
        {{form.input class='address' label='Address' value=editingRide.address onChange=(action (mut editingRide.address))}}
        {{form.input class='contact' label='Contact' value=editingRide.contact onChange=(action (mut editingRide.contact))}}
      </div>

      <div class='layout layout-sm-column'>
        {{form.input class='request-notes'
                     textarea=true
                     label='Notes'
                     value=editingRide.requestNotes
                     onChange=(action (mut editingRide.requestNotes))}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=(action 'cancel' editingRide)}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=(action 'submit' editingRide)}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}

{{#if editingCancellation}}
{{#paper-dialog onClose=(action 'cancelCancellation') clickOutsideToClose=true}}

  {{#paper-dialog-content}}
    <h2 class='md-title'>Cancel a ride</h2>
    {{#paper-form onSubmit=(action 'submitCancellation') as |form|}}
      <div class='layout layout-sm-column'>
        {{#paper-checkbox
          value=editingCancellation.cancelled
          onChange=(action 'cancelledChanged')}}Cancelled?{{/paper-checkbox}}
      </div>

      <div class='layout layout-sm-column'>
        {{#paper-select
          class='reason'
          placeholder='Reason'
          selected=editingCancellation.cancellationReason
          options=cancellationReasons
          onChange=(action (mut editingCancellation.cancellationReason))
          as |reason|}}
          {{reason}}
        {{/paper-select}}
      </div>
    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=(action 'cancelCancellation')}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=(action 'submitCancellation' editingCancellation)}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}
