{{#paper-content class='layout-column flex'}}
  {{#paper-card class='statistics-card' as |card|}}
    {{#card.content}}
      <div class='inputs'>
        {{paper-input
          class='start'
          type='date'
          label='Chart data begins'
          value=start
          onChange=(action (mut start))}}

        {{paper-input
          class='end'
          type='date'
          label='Chart data ends'
          value=end
          onChange=(action (mut end))}}
      </div>

      <div class='buttons'>
        {{paper-button class='past-year' label='Past year' onClick=(action 'setPastYear')}}
        {{paper-button class='past-two-weeks' label='Past two weeks' onClick=(action 'setPastTwoWeeks')}}
        {{paper-button class='this-year' label='This year' onClick=(action 'setThisYear')}}
      </div>
    {{/card.content}}
  {{/paper-card}}

  {{requests-and-reimbursements-chart rides=rides}}

  {{request-time-chart rides=rides}}

  {{cancellation-chart rides=rides}}

  <h3>Request start times by day</h3>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>00</th>
        <th>01</th>
        <th>02</th>
        <th>03</th>
        <th>04</th>
        <th>05</th>
        <th>06</th>
        <th>07</th>
        <th>08</th>
        <th>09</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
      </tr>
    </thead>
    <tbody>
      {{#each days as |day|}}
        <tr>
          <td>{{day.name}}</td>
          {{#each day.hours as |hour|}}
            <td class='hour'>{{hour}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/paper-content}}
