{{#paper-content class='layout-column flex'}}
  {{#paper-card class='statistics-card' as |card|}}
    {{#card.content}}
      <div class='inputs'>
        {{paper-input
          class='start'
          type='date'
          label='Chart data begins'
          value=start
          onChange=(action (mut start))}}

        {{paper-input
          class='end'
          type='date'
          label='Chart data ends'
          value=end
          onChange=(action (mut end))}}
      </div>

      <div class='buttons'>
        {{paper-button class='past-year' label='Past year' onClick=(action 'setPastYear')}}
        {{paper-button class='past-two-weeks' label='Past two weeks' onClick=(action 'setPastTwoWeeks')}}
        {{paper-button class='this-year' label='This year' onClick=(action 'setThisYear')}}
      </div>
    {{/card.content}}
  {{/paper-card}}

  {{requests-and-reimbursements-chart rides=rides theme=theme}}

  {{request-time-chart rides=rides theme=theme}}

  {{cancellation-chart rides=rides theme=theme}}
{{/paper-content}}
