<PaperContent @class='layout-column flex'>
  <PaperCard @class='statistics-card' as |card|>
    <card.content>
      <div class='inputs'>
        <PaperInput
          @class='start'
          @type='date'
          @label='Chart data begins'
          @value={{this.start}}
          @onChange={{action (mut this.start)}}
        />

        <PaperInput
          @class='end'
          @type='date'
          @label='Chart data ends'
          @value={{this.end}}
          @onChange={{action (mut this.end)}}
        />
      </div>

      <div class='buttons'>
        <PaperButton
          @class='past-year'
          @label='Past year'
          @onClick={{action 'setPastYear'}}
        />
        <PaperButton
          @class='past-two-weeks'
          @label='Past two weeks'
          @onClick={{action 'setPastTwoWeeks'}}
        />
        <PaperButton
          @class='this-year'
          @label='This year'
          @onClick={{action 'setThisYear'}}
        />
      </div>

      <div class='radios'>
        Count
        <PaperRadioGroup
          @groupValue={{readonly this.grouping}}
          @onChange={{action (mut this.grouping)}} as |group|
        >
          <div class='flex'>
            <group.radio @value='rides'>
              rides
            </group.radio>
          </div>
          <div class='flex'>
            <group.radio @value='passengers'>
              passengers
            </group.radio>
          </div>
        </PaperRadioGroup>
      </div>
    </card.content>
  </PaperCard>

  <RequestsAndReimbursementsChart
    @rides={{this.rides}}
    @theme={{this.theme}}
    @grouping={{this.grouping}}
  />

  <RequestTimeChart
    @rides={{this.rides}}
    @theme={{this.theme}}
    @grouping={{this.grouping}}
  />

  <CancellationChart
    @rides={{this.rides}}
    @theme={{this.theme}}
    @grouping={{this.grouping}}
  />

  <div>
    <CopyButton @text={{this.clipboardText}} title={{this.copyButtonTitle}}>
      {{paper-icon 'content copy'}} Copy for report
    </CopyButton>
  </div>
</PaperContent>